<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <title>{% block title %}Kodland{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header">
        <a href="/" class="logo">
            <img src="static/img/Logo_Kodland.pdf" alt="logo" class="logo_img">
            <span class="logo_text">Блог</span>
        </a>
        <nav>
            <form method="get" action="/write">
                <button class="nav_btn" type="submit">+ Добавить статью</button>
            </form>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}
</body>
</html>






